{% extends 'base.html' %}

{% block title %}TodoApp에 오신 것을 환영합니다{% endblock %}

{% block content %}
<div class="text-center">
    <h3 class="mb-3">반갑습니다 !</h3>

</div>

<!-- 추가 버튼 예시 -->
<div class="text-center">
    <h5 class="mb-3">TodoApp을 이용하시려면 로그인 해주세요</h5>
    <div class="d-flex flex-wrap gap-2">
        {% if user.is_authenticated %}
            <a href="{% url 'todo:list' %}" class="btn btn-primary btn-lg me-3">내 할일 목록 보기</a>
            <a href="{% url 'todo:create' %}" class="btn btn-create btn-lg">새 할일 생성</a>

        {% endif %}
    </div>
</div>
{% endblock %}
